doctype
html(lang=config.language,mip)
    head
        include head
    body
        .wrap
            header
                a.logo-link(href=url_for())
                    img(src=url_for(theme.logo) alt="logo" width="100" height="60")
                a.logo-mini-link(href=url_for())
                    img(src=url_for(theme.logo_mini) alt="logo"  width="40" height="40")
                include nav
            main.container
                block container
            footer
                block pagination
                block copyright
        include scripts
